<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout1}">

<head>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>


<div layout:fragment="content" id="posts_list">
    <table id="table" class="table table-horizontal">

        <thead id="thead">
        <tr>
            <th>번호</th>
            <th class="col-md-6 text-center">제목</th>
            <th>작성자</th>
            <th>작성일</th>
            <th>조회수</th>
        </tr>
        </thead>
        <tbody id="tbody">
        <tr th:each="post : ${posts}">
            <td th:text="${post.id}">id</td>
            <td><a th:href="@{'/posts/read/'+${post.id}}" th:text="${post.title}">title</a></td>
            <td th:text="${post.writer}">writer</td>
            <td th:text="${post.regTime}">createdDate</td>
            <td th:text="${post.view}">view</td>
        </tr>
        </tbody>
    </table>
    <div class="text-right">
        <a href="/posts/write" role="button" class="btn btn-primary bi bi-pencil-fill"> 글쓰기</a>
    </div>

    <div class="pagination justify-content-center">
        <a th:if="${hasPrev}" th:href="@{'?page='+${previous}}" role="button" class="btn btn-lg bi bi-caret-left-square-fill"></a>

        <a th:if="${!hasPrev}"  th:href="@{'?page='+${previous}}" role="button" class="btn btn-lg bi bi-caret-left-square-fill disabled"></a>

        <a th:if="${hasNext}"  th:href="@{'?page='+${next}}" role="button" class="btn btn-lg bi bi-caret-right-square-fill"></a>

        <a th:if="${!hasNext}"  th:href="@{'?page='+${next}}" role="button" class="btn btn-lg bi bi-caret-right-square-fill disabled"></a>
    </div>
</div>




</html>